{% extends 'admininterface/base_student_layout.html' %}
{% load static %}
{% block content %}

<!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:80px" id="showcase">

<p>Are you sure you want to delete <b>{{delete_student.first_name}} {{delete_student.last_name}}</b>
    and his/her all related data?</p>

    <form method="POST">
        {% csrf_token %}
        <a href="{% url 'student_list' %}" class="marks">Cancel</a>
        <input type="submit" class="marks" value="Yes">
    </form>
  </div>
{% endblock %}
