<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Edit-Marks</title>
  <link rel="stylesheet" href="{% static 'css/registerstudent.css' %}">
  <link rel="stylesheet" href="{% static 'css/alertmodal.css' %}">
</head>
<body>
  <form action="" method="POST">
      {% csrf_token %}
<div class="wrapper">
    <div class="title">
        <h3>Edit Marks</h3><hr>
    </div>

    <div class="title">
        <p style="font-size: 13px;">
        Grade : {{marks_slug.grade}}<br><br>
        Faculty : {{marks_slug.faculty}}<br><br>
        Subject : {{marks_slug.course}}<br><br>
        Term : {{marks_slug.terms.terms_name}}<br>
        </p>
    </div>
    <div class="form">

    <input type="hidden" name="marks_id" value="{{marks_slug.id}}">

    <div class="inputfield">
        <label>Update Marks</label>
        <input type="number" class="input" name="obtained_marks" value="{{marks_slug.obtained_marks}}">
    </div>


    <div class="inputfield">
        <button type="submit" value="Register" class="btn">Save</button>
    </div>

    <div class="container">
      {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content" >

                  <span class="close">&times;</span>
                <div class="modal-body">
                  <p><img src="{% static 'image/success.png' %}" alt="">{{message}}</p>
                </div>
                <span style="float:left;font-size:12px;">
                  <a href="/student-func/" style="text-decoration: none;color: #155724;"> Go To Dashboard</a>
                </span>
              </div>  
            </div>  
            {% endif %}
            {% if message.tags == 'warning' %}
            <div id="myModal" class="modal" >

              <!-- Modal content -->
              <div class="modal-content" style="  background-color: #f7d7da!important; color: #721c24!important;">
                  <span class="close" style="color: #721c24!important;">&times;</span>
                <div class="modal-body">
                  <p><img src="{% static 'image/error.png' %}" alt="">{{message}}</p>
                </div>
              </div> 
            </div>         
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
</div>
</form>
<script src="{% static 'js/alertmodal.js' %}"></script>
</body>
</html>