{% extends 'admininterface/base_teacher_layout.html' %}
{% load static %}
{% block body %}
<!--<!DOCTYPE html>-->
<!--{% load static %}-->
<!--<html lang="en">-->
<!--<head>-->
<!--<title>Acader</title>-->
<!--<meta charset="UTF-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'css/w3.css' %}">-->
<!--<link rel="stylesheet" href="{% static 'css/font.css' %}">-->
<!--</head>-->
<!--<body>-->
<!--    &lt;!&ndash; Sidebar/menu &ndash;&gt;-->
<!--    <nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>-->
<!--      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close Menu</a>-->
<!--      <div class="w3-container">-->
<!--        <h1 class="w3-padding-55"><a href="{% url 'student-func' %}" style="text-decoration:none;color:white;"><b>Acader</b></a></h1>-->
<!--      </div>-->
<!--      <div class="w3-bar-block">-->
<!--          <a href="{% url 'student-func' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><img src="{% static 'image/studentlist.png' %}" alt="">Student</a><br>-->
<!--          <a href="{% url 'teacher_list' %}" onclick="w3_close()" class="active"><img src="{% static 'image/teacherlist.png' %}" alt="">Teacher list</a><br>-->
<!--          <a href="{% url 'do_logout' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><img src="{% static 'image/logout.png' %}" alt="">Logout</a>-->
<!--      </div>-->
<!--    </nav>-->

<!--&lt;!&ndash; Top menu on small screens &ndash;&gt;-->
<!--<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">-->
<!--  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>-->
<!--  <span><a href="{% url 'student-func' %}" style="text-decoration:none;color:white;">Acader</a></span>-->
<!--</header>-->

<!--&lt;!&ndash; Overlay effect when opening sidebar on small screens &ndash;&gt;-->
<!--<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>-->

<!--&lt;!&ndash; !PAGE CONTENT! &ndash;&gt;-->
<!--<div class="w3-main" style="margin-left:340px;margin-right:40px">-->

  <!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:80px" id="showcase">
<!--      <h3><a href="{% url 'marks' %}" style="text-decoration: none;color: black;">Student Marks list</a></h3>-->
    <h3>Teacher List</h3>
     <!-- Search form -->
     <div class="example" style="margin:0px;max-width:300px">
         <form action="/search_teacher" method="GET">
              <input id="searchbtn" onkeyup="myFunction()" type="text" placeholder="Search.." name="query">
              <div  class="searchbtn"><img src="{% static 'image/search.svg' %} " alt=""></div>
         </form>
    </div>
  </div>
  <div class="w3-container-bgcolor" style="margin-top:20px" id="showcase">
    <table class="w3-table-all" id="myTable">
        <thead>
          <tr class="w3-blue">
            <th><a href="#" onclick="sortTable(0)" style="text-decoration:none;color:white">Teacher username</a></th>
            <th><a href="#" onclick="sortTable(1)" style="text-decoration:none;color:white">Faculty</a></th>
            <th><a href="#" onclick="sortTable(2)" style="text-decoration:none;color:white">Grade</a></th>
            <th><a href="#" onclick="sortTable(3)" style="text-decoration:none;color:white">Section</a></th>
            <th><a href="#" onclick="sortTable(4)" style="text-decoration:none;color:white">Gender</a></th>
            <th><a href="#" onclick="sortTable(5)" style="text-decoration:none;color:white">Address</a></th>
            <th></th>
            <th></th>

          </tr>
        </thead>
        {% for t in teachers1 %}
        <tr>
          <td>{{ t.username }}</td>
          <td>{{ t.teacher.faculty }}</td>
          <td>{{ t.teacher.grade }}</td>
          <td>{{ t.teacher.section }}</td>
          <td>{{ t.teacher.gender }}</td>
          <td>{{ t.teacher.address }}</td>
          <td class="forimg"><a href="{% url 'edit_teacher' teacher_id_slug=t.id %}" class="buttongreen" style="text-decoration: none;color: white;"><img src="{% static 'image/edit.png' %}" alt=""></a></td>
          <td class="forimg"><a href="{% url 'delete_teacher' teacher_del_slug=t.id %}" class="buttonred" style="text-decoration: none;color: white;"><img src="{% static 'image/delete.png' %}" alt=""></a></td>

        </tr>
        {% endfor %}
    </table>
  </div>
<!--&lt;!&ndash; End page content &ndash;&gt;-->
<!--</div>-->
<!--<script src="{% static 'js/adminnav.js' %}"></script>-->
<!--<script src="{% static 'js/search.js' %}"></script>-->
<!--<script src="{% static 'js/sort.js' %}"></script>-->
<!--</body>-->
<!--</html>-->
{% endblock %}
