{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Acader</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close Menu</a>
      <div class="w3-container">
        <h1 class="w3-padding-55"><b>Acader</b></h1>
      </div>
      <div class="w3-bar-block">
        <a href="{% url 'teacher_profile' %}" onclick="w3_close()" class="active">Profile</a><br>
        <a href="{% url 'teacher_dashboard' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dashboard</a><br>
        <a href="{% url 'teacher_marks' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Student list</a><br>
        <a href="{% url 'do_logout1' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
      </div>
    </nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>Acader</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header(main body) -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
        <div class="coverpic!important" style="background-image: url({% static 'image/coverpic.jpg' %})">
      <img src="{{ user2.profile1.image.url }}" alt="profile_picture" class="profile_img">
<!--          <img src="{% static 'image/profile.jpg' %}" alt="profile_picture" class="profile_img">-->

          <h3 class="profile_name">{{user2.first_name}} {{user2.last_name}}</h3>
        </div>
  <p><h3>Basic Student Information</h3></p>
    <p>First name: {{user2.first_name}}
    </p>
    <p>Last name: {{user2.last_name}}
    </p>
    <p>Parent name: {{user2.teacher.parent_name}}
    </p>
    <p>E-mail: {{user2.email}}
    </p>
    <p>Contact: {{user2.teacher.contact}}
    </p>
    <p>Address: {{user2.teacher.address}}
    </p>
    <p>Faculty: {{user2.teacher.faculty}}
    </p>
    <p>Class: {{user2.teacher.grade}}
    </p>
    <p>Section: {{user2.teacher.section}}
    </p>

    <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
<!--      <textarea rows="4" cols="50" name="comment" form="userform"-->
<!--                placeholder="Write about yourself, come on don't be shy!!">      -->

<!--      </textarea>-->

        About yourself
        <p>
            {{p_form.description.as_textarea}}
        </p>
        Upload profile Photo
        <p>
            {{p_form.image}}
        </p>

<!--        Update your picture-->
<!--        <p>-->
<!--            {{i_form}}-->
<!--        </p>-->

        <p>
            <input class="marks" type="submit">
        </p>
    </form>

  </div>

<!-- End page content -->
</div>
<script src="{% static 'js/loginpage.js' %}"></script>
</body>
</html>
