{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Profile</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close Menu</a>
      <div class="w3-container">
        <h1 class="w3-padding-55"><a href="{% url 'teacher_dashboard' %}"  style="text-decoration:none;color:white;"><b>Acader</b></a></h1>
      </div>
      <div class="w3-bar-block">
        <a href="{% url 'teacher_profile' %}" onclick="w3_close()" class="active"><img src="{% static 'image/profile.png' %}" alt=""> Profile</a><br>
        <a href="{% url 'teacher_dashboard' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><img src="{% static 'image/dashboard.png' %}" alt="">Dashboard</a><br>
        <a href="{% url 'teacher_marks' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><img src="{% static 'image/studentlist.png' %}" alt="">Student list</a><br>
        <a href="{% url 'do_logout1' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><img src="{% static 'image/logout.png' %}" alt="">Logout</a>
      </div>
    </nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span><a href="{% url 'teacher_dashboard' %}"  style="text-decoration:none;color:white;">Acader</a></span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header(main body) -->
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="w3-container-bgcolor" style="margin-top:40px;" id="showcase">
      <div class="coverpic!important"  style="background-image: url({% static 'image/classroom_cover.jpg' %});">
      <div class="profile_img">
        <div class="circle">
          <!-- User Profile Image -->
          <img class="profile-pic" src="{{ user2.profile1.image.url }}" alt="profile_picture">
        </div>
          <i class="upload-button"><img src="{% static 'image/camera-icon.svg' %}" alt=""></i>
          <input class="file-upload" name="image" type="file" accept="image/*"/>
      </div>
        <h3 class="profile_name">{{user2.first_name}} {{user2.last_name}}</h3>
    </div>
    <button class="marks" type="submit" style="display: table !important; margin: auto !important; ">Update PP </button>
    <div class="aboutyou">
      <span class="layer"><h3>Short Bio</h3></span>
      {% for d in description %}
      <span class="details">
        <span class="aboutu">
          <!-- <textarea cols="100" rows="10" style="color: #6b6969;" readonly> -->
            <div class="announcement darker">
              <h4> {{d.description}}</h4>
            </div>
        <!-- </textarea> --><br>
          <div class="marks" id="myBtn">Edit</div>
        </span>
      </span>
  </div>
      {% endfor %} <br>
      <!-- The Modal -->
        <div class="modal" id="myModal"  >

          <!-- Modal content -->
          <div class="modal-content">
            <div class="modal-header">
              <div class="close" id="close">&times;</div>
              <h2>About yourself:</h2>
            </div>
            <div class="modal-body">
                   {{p_form.description}}                    
            </div>
            <div class="modal-footer">
                <button type="submit">Submit</button>
            </div>
          </div>
        </div>         

    <span class="layer">
      <h3>Basic Student Information</h3>
    </span>

    <div class="profile_layout">
    <span class="layer">First name:&nbsp;</span>
    <span class="details"> {{user2.first_name}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer"> Last name:&nbsp; </span>
    <span class="details">{{user2.last_name}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Parent name:&nbsp;</span>
    <span class="details">{{user2.teacher.parent_name}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">E-mail:&nbsp;</span>
    <span class="details"> {{user2.email}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Contact: &nbsp;</span>
    <span class="details">{{user2.teacher.contact}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Address:&nbsp;</span>
    <span class="details"> {{user2.teacher.address}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Faculty:&nbsp;</span>
    <span class="details"> {{user2.teacher.faculty.faculty1}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Class:&nbsp;</span>
    <span class="details"> {{user2.teacher.grade.grade1}}</span>
    </div>

    <div class="profile_layout">
    <span class="layer">Section:&nbsp; </span>
    <span class="details">{{user2.teacher.section}}</span>
    </div>


            
    </form>

  </div>

<!-- End page content -->
</div>
<script src="{%static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{%static 'js/profile_pic.js' %}"></script>
<script src="{% static 'js/jsindex2.js' %}"></script>
<script src="{% static 'js/aboutyourself.js' %}"></script>
</body>
</html>
