body{
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.tabcontent {
    width: 300px;
    margin: 200px 550px;
    padding: 20px 20px;
    border: 1px solid #ccc;
    border-top: 5px;
    position: fixed;
}
.registerform{
    margin: 1px 550px;
    padding: 20px 20px 20px 20px;
    border: 1px solid #ccc;
    border-top: 5px;
}

h1 {
    text-align: center;
    color: #21529b;
}

.field {
    position: relative;
    margin: 10px 20px 15px 20px;
}

input {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    color: #355d98;
    background: none;
    border: 1px solid grey;
    font-family: inherit;
}

label {
    position: relative;
    top: 30px;
    left: 13px;
    float: left;
    color: #21529b;
    font-family: inherit;
    font-size: 18px;
    transform: translate(0, -60px);
}

input:not(:placeholder-shown) + label {
    position: relative;
    padding-top: 33px;
    font-size: 13px;
    width: 150px;
    text-align: left;
    transition: padding-top .8s;
}

input::placeholder {
    color: transparent;
}

.button {
    border: none;
    cursor: pointer;
    border-radius: 2px;
    padding: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    width: 100%;
    background-color: #6ba4ff;
    transition: 0.7s;
    font-family: inherit;
    margin-top: 25px;
  }

.button:hover {
    background-color: #21529b;
    color: white;
  }



.forgot {
    text-align: right;
    margin-right: 10px;
    font-size: 13px;
}

.forgot a {
    font-family: inherit;
    color: #05619e;
    /* text-decoration: none; */
}


/*
@media (max-width: 500px) {
    .tablinks {
        width: 90%;
    }
}

 */
