<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Acader</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body style="background-image: url({% static 'image/bg.jpg' %})">
    <div class="acaderlogo">
      <!-- <a href="{% url 'loginpage' %}"> -->
        <img src="{% static 'image/acaderexcel.png' %}" style="margin-top: 65px;" class="logo" alt="Logo">
      <!-- </a> -->
    </div>
    
    <!-- Sidebar/menu -->
  <div class="side_bar" id="side_bar">
      <nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close</a>
    <div class="w3-container">
      <h1 class="w3-padding-55" ><b>Login Panel</b></h1>
    </div>

    <div class="w3-bar-block" >
        <a id="nav_admin" class="w3-bar-item w3-button w3-hover-white" onclick="selectAdmin()"  >Admin</a>
        <a id="nav_teacher" class="w3-bar-item w3-button w3-hover-white" onclick="selectTeacherLogin()"  >Teacher</a>
        <a href="{% url 'loginpage' %}" id="nav_student" class="active_navbar" >Student</a>
    </div>
  </nav>
  </div>

    
    <!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  </header>
  
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main">

  <!-- Header(main body) -->
  <div class="w3-container" style="margin-top:5px;" id="showcase">
    <div class="tabcontent">
        <h1 style="text-align: center;color: #21529b;" id="login-title">Student Login</h1>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="field">
                <input type="text" id="username" name="username" placeholder="Username" required />
                <label for="username">Username</label>
            </div>
            <div class="field">
                <input type="password" id="password" name="password" placeholder="Password" required />
                <label for="password">Password</label>
            </div>

            <input type="hidden" id="user-type" name="user-type" />

            <p>
                <div class="forgot"><a href="{% url 'password_reset' %}">Forgot Password?</a></div>
            </p>
                    <button type="submit" class="button">Log In</button>
            <div class="container">
                  {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'warning' %}
                          <script>
                            alert("invalid username or password");
                          </script>
                        {% endif %}
                        {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }} <a href="{% url 'student-func' %}">Go back</a> </div>
                        {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>

        </form>
        
    </div>
    <div class="w3-display-bottomright">
      <div class="dropup">
      <button class="dropbtn">
        <img src="{% static 'image/student.svg' %}" id="show_student" alt="">
        <img src="{% static 'image/admin.svg' %}" id="show_admin" style="display: none;" alt="">
        <img src="{% static 'image/teacher1.svg' %}" id="show_teacher" style="display: none;"  alt="">
      </button>
        <div class="dropup-content">
          <a id="admin" onclick="selectAdmin()">Admin</a>
          <a id="teacher" onclick="selectTeacherLogin()">Teacher</a>
          <a href="{% url 'loginpage' %}" id="student" class="active" >Student</a>
        </div>
      </div>
    </div>
  </div>

<!-- End page content -->

</div>
<script src="{%static 'js/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'js/loginpage.js' %}"></script>
</body>
</html>
