<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Marks-Register Form</title>
  <link rel="stylesheet" href="{% static 'css/course.css' %}">
  <link rel="stylesheet" href="{% static 'css/alertmodal.css' %}">
</head>
<body>
    <form action="" method="POST">

        {% csrf_token %}
        <div class="wrapper">
        <div class="title">
          Marks Form
        </div>
        <div class="form">
            <div class="inputfield">
              <label>Student Name</label>
              <div class="custom_select">
                <select name="student-id">
                    {% if selected_student %}
                        <option value="{{selected_student.id}}">{{selected_student.first_name}} {{selected_student.last_name}}</option>
                    {% else %}
                        <option>Select a student</option>
                        {% for student in students_model %}
                             <option value="{{student.id}}">{{student.first_name}} {{student.last_name}}</option>
                        {% endfor %}
                    {% endif %}
                </select>
              </div>
           </div>

            {% if show_full_form == False %}
            <div class="inputfield">
             <input type="submit" name="Select" value="Select" class="btn"/>
            </div>
            {% endif %}

        {% if show_full_form %}
            <div class="inputfield">
              <label>Grade</label>
              <div class="custom_select">
                <select name="grade">
                    {% if student_grade == 1 %}
                        <option value="">11</option>
                    {% endif %}

                     {% if student_grade == 2 %}
                        <option value="">12</option>
                    {% endif %}


<!--                <option {% if student_grade.faculty.id == "1" %} selected {% endif %}>Science</option>-->
<!--                <option {% if student_grade.faculty.id == "2" %} selected {% endif %}>Management</option>-->
<!--                    <option value="{{student_grade}}">{{ student_grade }}</option>-->
                </select>
              </div>
            </div>

            <div class="inputfield">
              <label>Faculty</label>
              <div class="custom_select">
                <select name="faculty">
                    {% if student_faculty == 1 %}
                        <option value="">Science</option>
                    {% endif %}

                     {% if student_faculty == 2 %}
                        <option value="">Management</option>
                    {% endif %}
<!--                  <option value="{{student_faculty}}">{{student_faculty}}</option>-->
                </select>
              </div>
           </div>

           <div class="inputfield">
                <label>Term</label>
                <div class="custom_select">
                    <select name="term">
                        <option value="">Select a term</option>
                        {% for t in terms %}
                         <option value="{{t.id}}">{{t.terms_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="inputfield">
                <label>Subject</label>
                <div class="custom_select">
                  <select name="course">
                    <option value="">Select a course</option>

                       {% for c in course_subject %}
                        <option value="{{c.course_name}}">{{c.course_name}}</option>
                        {% endfor %}
                  </select>
                </div>
             </div>

            <div class="inputfield">
              <label>Marks obtained</label>
              <input type="number" class="input" name="obtained_marks">
            </div>

            <div class="inputfield">
              <label>Assignment Marks</label>
              <input type="number" class="input" name="assignment_marks">
            </div>

            <div class="inputfield">
              <label>Attendance Marks</label>
              <input type="number" class="input" name="attendance_marks">
            </div>

            <div class="inputfield">
             <input type="submit" name="Register" value="Register" class="btn"/>
            </div>
        {% endif %}
        </div>
    </div>
        <div class="container">
              {% if messages %}
                {% for message in messages %}
                {% if message.tags == 'warning' %}
                <div id="myModal" class="modal" >

                  <!-- Modal content -->
                  <div class="modal-content" style="  background-color: #f7d7da!important; color: #721c24!important;">
                      <span class="close" style="color: #721c24!important;">&times;</span>
                    <div class="modal-body">
                      <p><img src="{% static 'image/error.png' %}" alt="">{{message}}</p>
                    </div>
                  </div> 
                </div>  
                {% endif %}
                {% if message.tags == 'success' %}
                <div id="myModal" class="modal">

                  <!-- Modal content -->
                  <div class="modal-content" >
  
                      <span class="close">&times;</span>
                    <div class="modal-body">
                      <p><img src="{% static 'image/success.png' %}" alt="">{{message}}</p>
                    </div>
                    <span style="float:left;font-size:12px;">
                      <a href="/student-func/" style="text-decoration: none;color: #155724;"> Go To Dashboard</a>
                    </span>
                  </div>  
                </div> 
                  <!-- <script>
                    alert('Sucessfully registered') ; window.location.href = "{% url 'student-func' %}"
                  </script>                 -->
                {% endif %}
                {% endfor %}
                {% endif %}
         </div>
    </form>
<script src="{% static 'js/alertmodal.js' %}"></script>
</body>
</html>