{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password-reset</title>
<!--    <link rel="stylesheet" href="{% static 'css/index.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/w3.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'css/font.css' %}">-->
</head>
<body>
<div class="container">
    <form method="POST">
            {% csrf_token %}
                <br>
        <h2>Do you want to request for a new password?</h2>
        <div class="container">
                {{form}}
        </div>
            <br>
            <button type="submit">Send Request for Reset</button><br><br>
            <a href="{% url 'loginpage' %}">Go back</a>

    </form>
</div>

</body>
</html>