{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Password reset</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body style="background-image: url({% static 'image/bg_forgot.jpg' %});overflow:auto!important;">
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:650px;margin-right:650px">

  <!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:80px; background-color:rgb(239, 239, 239, 0.7)!important;height:500px;width: 400px;margin: 80px auto!important;" id="showcase">
 
        <form method="POST">
            {% csrf_token %}
                {{form}}
            <button class="button" type="submit">Reset</button>
            </div>
        </form>
</div>
</body>
</html>