{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Password reset</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body style="background-image: url({% static 'image/bg_forgot.jpg' %})">
  <!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:330px;margin-right:330px">

  <!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:80px" id="showcase">
 
            <center><h3>An email has been sent with instructions to re-set your password.<br> You can now click on the link we have provided
                on your mail inbox.</h3></center>
  </div>
</div>
</body>
</html>