<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Student Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/registerstudent.css' %}">
  <link rel="stylesheet" href="{% static 'css/alertmodal.css' %}">

</head>
<body>
  <form action="" method="POST">
      {% csrf_token %}
<div class="wrapper">
    <div class="title">
      Student Registration Form
    </div>
    <div class="form">
       <div class="inputfield">
          <label>First Name</label>
          <input type="text" class="input" name="first_name" required>
       </div>
        <div class="inputfield">
          <label>Last Name</label>
          <input type="text" class="input" name="last_name" required>
       </div>
       <div class="inputfield">
        <label>Username</label>
        <input type="text" class="input" name="username" required>
       </div>
        <div class="inputfield">
            <label>Email Address</label>
            <input type="email" class="input" name="email" required>
        </div>
    <div class="inputfield">
        <label>Password</label>
        <input type="password" class="input" name="password" required>
    </div>
    <div class="inputfield">
        <label>Date of Birth</label>
        <input type="date" class="input" name="DOB" required>
    </div>
        <div class="inputfield">
          <label>Gender</label>
          <div class="custom_select">
            <select name="gender" required>
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>
       </div>
       <div class="inputfield">
        <label>Parent Name</label>
        <input type="text" class="input" name="parent_name" required>
     </div>
      <div class="inputfield">
          <label>Contact Number</label>
          <input type="number" class="input" name="contact" required>
       </div>
      <div class="inputfield">
          <label>Address</label>
          <input type="text" class="input" name="address" required>
       </div>
       <div class="inputfield">
        <label>Faculty</label>
        <div class="custom_select">
          <select name="faculty" >
               {% for f in faculty_model %}
            <option value="{{f.id}}">{{f.faculty1}}</option>
            {% endfor %}
<!--          <option value="">Select</option>-->
<!--            <option value="Science">Science</option>-->
<!--            <option value="Management">Management</option>-->
          </select>
        </div>
     </div>

     <div class="inputfield">
      <label>Grade</label>
      <div class="custom_select">
        <select name="grade" >
          {% for g in grade_model %}
            <option value="{{g.id}}">{{g.grade1}}</option>
            {% endfor %}

<!--          <option value="">Select</option>-->
<!--          <option value="11">11</option>-->
<!--          <option value="12">12</option>-->
        </select>
      </div>
   </div>

   <div class="inputfield">
    <label>Section</label>
      <div class="custom_select">
        <select name="section" required>
          <option value="">Select</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
      </div>
    </div>

      <div class="inputfield">
        <button type="submit" value="Register" class="btn">Register</button>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
              {% if message.tags == 'success' %}
              <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content" >

                    <span class="close">&times;</span>
                  <div class="modal-body">
                    <p><img src="{% static 'image/success.png' %}" alt="">{{message}}</p>
                  </div>
                  <span style="float:left;font-size:12px;">
                    <a href="/student-func/" style="text-decoration: none;color: #155724;"> Go To Dashboard</a>
                  </span>
                </div>  
              </div> 
              {% endif %}
              {% if message.tags == 'warning' %}
                <!-- The Modal -->
                <div id="myModal" class="modal" >

                  <!-- Modal content -->
                  <div class="modal-content" style="  background-color: #f7d7da!important; color: #721c24!important;">
                      <span class="close" style="color: #721c24!important;">&times;</span>
                    <div class="modal-body">
                      <p><img src="{% static 'image/error.png' %}" alt="">{{message}}</p>
                    </div>
                  </div> 
                </div>  
              <!-- <script>
                   alert('Username not written correctly. You have to register again!') ; window.location.href = "{% url 'studentregister' %}"
              </script> -->
              {% endif %}
          {% endfor %}
        {% endif %}
      </div>
      </div>
    </div>
</div>
</form>
<script src="{% static 'js/alertmodal.js' %}"></script>

</body>
</html>
