<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Predictor</title>
  </head>
  <body>
    <h1>Do your prediction</h1>
    <hr />
    <form action = "{% url 'result' %}" method="GET">
<!--        {% csrf_token %}-->
      Your Id:
      <input type="number" name="s_id" placeholder="id" required /><br /><br />
      Assignment:
      <input type="number" name="assignment" placeholder="Out of 10" min="1" max="10" required/><br /><br />
      Attendance:
      <input type="number" name="attendance" placeholder="Out of 10" min="1" max="10" required/><br /><br />
      First:
      <input type="number" name="first" placeholder="Out of 100" min="1" max="100" required/><br /><br />
      Second:
      <input type="number" name="second" placeholder="Out of 100" min="1" max="100" required/><br /><br />
      Third:
      <input type="number" name="third" placeholder="Out of 100" min="1" max="100" required/><br /><br />
      Gender:
      <select name="gender" required>
        <option value="0">0</option>
        <option value="1">1</option></select>
        <br /><br />
      <input type="submit" name="" value="Submit" />
    </form>

    <div class="row">
        <h4>Your id: {{id}}</h4>
        <h4>Assignment marks: {{assignment}}</h4>
        <h4>Attendance marks: {{attendance}}</h4>
        <h4>First term: {{first}}</h4>
        <h4>Second term: {{second}}</h4>
        <h4>Third term: {{third}}</h4>
        <h4>Gender: {{gender}}</h4>
    </div>

    <div class="row">
        <h3>{{ final }}</h3>
    </div>

  </body>
</html>