<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Acader</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close Menu</a>
  <div class="w3-container">
    <h1 class="w3-padding-55"><b>Acader</b></h1>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'student_profile' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a><br>
    <a href="{% url 'student_dashboard' %}" onclick="w3_close()" class="active">Dashboard</a><br>
    <a href="{% url 'student_marks' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Marks</a> <br>
    <a href="{% url 'course_content' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Course Content</a> <br>
    <a href="{% url 'do_logout2' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span>Acader</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:40px;" id="showcase">
    <div class="LineChart">
      <article><h3 class="w3-xxxlarge w3-text-blue"><b>Marksheet Of Terminal <br> Examination</b></h3>
                <!-- <hr style="width:300px;border:5px solid blue" class="w3-round"> -->
                    <div class="w3-display-topright">
                      <h3>Teacher's email</h3>
                      <p><a href="#" style="color: black;">template@gmail.com</a></p>
                      <p><a href="#" style="color: black;">template@gmail.com</a></p>
                      <p><a href="#" style="color: black;">template@gmail.com</a></p>
                      <p><a href="#" style="color: black;">template@gmail.com</a></p>
                      <p><a href="#" style="color: black;">template@gmail.com</a></p>
                    </div>
                <canvas id="lineChart" height="400px" width="400px"></canvas>
      </article>
    </div>
  </div>
    <div class="w3-container-bgcolor" style="margin-top:20px" id="showcase">
      <h1>Notice:</h1>
      {% for t in teacher1 %}
      <div class="announcement darker">
          <img src="{% static 'image/profile.jpg' %}" alt="Avatar" class="right" style="width:100%;">
        <h2>{{ t.name }}</h2>
        <p style="font-size: 10px;margin-top:-25px;">{{ t.created_at }}</p>
        <span class="time-left">{{ t.message }}</span>
      </div>
          <br>
        {% endfor %}
     
    </div>
    </div>
<!-- End page content -->
</div>

<script src="{% static 'js/Chart.min.js' %}">/*https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js*/</script>
<script src="{% static 'js/linechart.js' %}"></script>
<script src="{% static 'js/jsindex2.js' %}"></script>
</body>
</html>
