<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>Acader</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/font.css' %}">
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-blue w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:12px">Close Menu</a>
  <div class="w3-container">
    <h1 class="w3-padding-55"><a href="{% url 'student_dashboard' %}" style="text-decoration:none;color:white;"><b>Acader</b></a></h1>
  </div>
  <div class="w3-bar-block">
    <a href="{% url 'student_profile' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a><br>
    <a href="{% url 'student_dashboard' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Dashboard</a><br>
    <a href="{% url 'student_marks' %}" onclick="w3_close()" class="active">Marks</a> <br>
    <a href="{% url 'course_content' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Course</a> <br>
    <a href="{% url 'do_logout2' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-blue w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-blue w3-margin-right" onclick="w3_open()">☰</a>
  <span><a href="{% url 'student_dashboard' %}" style="text-decoration:none;color:white;">Acader</a></span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header(main body) -->
  <div class="w3-container-bgcolor" style="margin-top:40px;" id="showcase">
    <h1 class="w3-xxxlarge w3-text-blue"><b>Your marks</b></h1>
    <!-- <hr style="width:50px;border:5px solid blue" class="w3-round"> -->
  <!-- Search form -->
  <div class="example" style="margin:0px;max-width:300px">
  <form method="GET" action="/search_marks">
      <input id="searchbtn" onkeyup="myFunction()" type="text" placeholder="Enter subject or term" name="query">
      <div  class="searchbtn"><img src="{% static 'image/search.svg' %} " alt=""></div>
  </form>
  </div>
    <br>
    <table class="w3-table-all" id="myTable">
        <thead>
<!--            <h1>{{ s. }}</h1>-->
          <tr class="w3-blue">
            <th><a href="#" onclick="sortTable(0)" style="text-decoration:none;color:white">Subject</a></th>
            <th><a href="#" onclick="sortTable(1)" style="text-decoration:none;color:white">Term</a></th>
            <th><a href="#" onclick="sortTable(2)" style="text-decoration:none;color:white">Marks</a> </th>
          </tr>
        </thead>
<!--        {% if request.user.is_authenticated %}-->
            {% for m in marks %}
                <tr>
                    <td>{{ m.course }}</td>
                    <td>{{ m.terms_id }}</td>
                    <td>{{ m.obtained_marks }}</td>
                </tr>
            {% endfor %}
<!--      {% endif %}-->
      </table>
    </div>
    <div class="w3-container-bgcolor" style="margin-top:20px;" id="showcase">
      <h1 class="w3-xxxlarge w3-text-blue"><b>Prediction</b></h1>
    </div>
    <!-- <hr style="width:50px;border:5px solid blue" class="w3-round"> -->

<!-- End page content -->
</div>
<script src="{% static 'js/jsindex2.js' %}"></script>
<script src="{% static 'js/sort.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
</body>
</html>
